<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{% static "apple-touch-icon.png" %}">

    <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}">
    <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->

    <!--For Plugins external css-->
    <link rel="stylesheet" href="{% static "assets/css/plugins.css" %}"/>
    <link rel="stylesheet" href="{% static "assets/css/lato-webfont.css" %}"/>
    <link rel="stylesheet" href="{% static "assets/css/magnific-popup.css" %}">

    <!--Theme custom css -->
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="{% static "assets/css/responsive.css" %}"/>
    <script src="{% static "assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" %}"></script>


    <link rel="icon" type="image/png" href="{% static "assets/images/favicon.ico" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">


    <link rel="stylesheet" type="text/css" href="{% static "fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "vendor/animate/animate.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "vendor/css-hamburgers/hamburgers.min.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "vendor/animsition/css/animsition.min.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "vendor/select2/select2.min.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "vendor/daterangepicker/daterangepicker.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "css/util.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3..."/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://bootstraptema.ru/snippets/form/2017/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3...%22/%3E">
    <link href="https: //fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://bootstraptema.ru/snippets/form/2017/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://1xbet.kz/styles/css/lk/main-light.c6837cb7b0f440cb5fde.css" type="text/css">


</head>
<body>
<div class='preloader'>
    <div class='loaded'>&nbsp;</div>
</div>


<nav class="navbar navbar-default navbar-fixed-top ">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="#home">Personal cabinet</a></li>
                <li><a href="#transfers">TRANSFERS</a></li>
                <li><a href="#payments">PAYMENTS</a></li>
                <li><a href="#recievecard">DESIGN CARD</a></li>
                <li><a href="#contact">Contact</a></li>
            {% else %}
                <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#contact">Contact</a></li>
            {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right" class="nav-link dropdown-toggle" href="#" id="navbarDropdown">

                <li class="dropdown on hover">

                    {% if user.is_authenticated %}
                        <a href="" class="btn btn-secondary dropdown-toggle"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" target="_blank">
                            {{ user.login }}<span class="caret">
                            </span>
                        </a>

                        <ul class="dropdown-menu">
                            <form action="{% url 'sign_in:log_out' %}" method="post">
                                {% csrf_token %}
                                <script type="text/javascript">
                                    // using jQuery
                                    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                                </script>
                                <button action="{% url 'sign_in:log_out' %}" class="login100-form-btn">Log Out
                                </button>
                            </form>
                        </ul>

                    {% else %}
                        <a class="dropdown-toggle" data-toggle="dropdown">login<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu" class="hidden">

                            <div class="limiter" class="dropdown_hazgar">

                                <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
                                    <form class="login100-form validate-form"
                                          action="{% url 'sign_in:login_user' %}"
                                          method="post">
                                        {% csrf_token %}
                                        <script type="text/javascript">
                                            // using jQuery
                                            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                                        </script>
                                        <span class="login100-form-title p-b-33">
		                            				Account Login
                                            </span>

                                        <div class="wrap-input100 validate-input"
                                             data-validate="Valid Login is required">
                                            <input class="input100" type="text" name="login1" placeholder="Login">
                                            <span class="focus-input100-1"></span>
                                            <span class="focus-input100-2"></span>
                                        </div>

                                        <div class="wrap-input100 rs1 validate-input"
                                             data-validate="Password is required">
                                            <input class="input100" type="password" name="pass1"
                                                   placeholder="Password">
                                            <span class="focus-input100-1"></span>
                                            <span class="focus-input100-2"></span>
                                        </div>

                                        <div class="container-login100-form-btn m-t-20">
                                            <button class="login100-form-btn"
                                                    action="{% url 'sign_in:login_user' %}">
                                                Sign in
                                            </button>
                                        </div>

                                        <div class="text-center p-t-45 p-b-4">
		                            				<span class="txt1">
		                            					Forgot
		                            				</span>

                                            <a href="/sign_in/forgot_pass/" class="txt2 hov1">
                                                Password?
                                            </a>
                                        </div>

                                        <div class="text-center">
		                            				<span class="txt1">
		                            					Create an account?
		                            				</span>

                                            <a href="/sign_in/sign_up" class="txt2 hov1">
                                                Sign up
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </ul>
                    {% endif %}

                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<!--Home page style-->

{% if user.is_authenticated %}
    <section id="home" class="home_auth_pic">
        <div class="home_auth">

            <div class="apm-form__group">
                <div class="apm-form__head">Card's data</div>
                <div class="apm-form__field">
                    <p class="apm-form__caption">Card Number</p>
                    <div class="apm-form__con">
                        <p class="apm-form__value">{{ card.number }}</p>
                    </div>
                </div>


                <div class="apm-form__field">
                    <p class="apm-form__caption ">Balance</p>
                    <div class="apm-form__con">
                        <p class="apm-form__value">{{ card.balance }}</p>
                    </div>
                </div>
                <div class="apm-form__field">
                    <p class="apm-form__caption ">СVV</p>
                    <div class="apm-form__con">
                        <p class="apm-form__value">{{ card.cvv }}</p>
                    </div>
                </div>

            </div>


            <div class="apm-form__group">
                <div class="apm-form__head">Personal data</div>
                <div class="apm-form__field">
                    <p class="apm-form__caption">Mobile</p>
                    <div class="apm-form__con">
                        <p class="apm-form__value">+{{ user.phone_number }}</p>
                        <span class="apm-form__icon_edit attach_phone"></span>
                    </div>
                </div>

            </div>

            <div class="apm-form__field">
                <p class="apm-form__caption ">Surname</p>
                <div class="apm-form__con">
                    <p class="apm-form__value">{{ user.surname }}</p>
                </div>
            </div>

            <div class="apm-form__field">
                <p class="apm-form__caption ">Name</p>
                <div class="apm-form__con">
                    <p class="apm-form__value">{{ user.name }}</p>
                </div>
            </div>

            <div class="apm-form__field">
                <p class="apm-form__caption">Your password</p>
                <div class="apm-form__con">
                    <p class="apm-form__value">********</p>
                    <a href="/sign_in/change_pass/"><span class="apm-form__icon_locked"></span></a>
                </div>
            </div>
        </div>

    </section>

{% else %}

    <section id="home" class="home">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-sm-4col-md-9 col-lg-9 col-xl-12">
                    <div class="home-content sections">
                        <h1>Hazgar's project group</h1>
                        <h2>Online banking</h2>
                        <a href="/sign_in/sign_up/" target="_blank">
                            <button class="btn btn-primary btn-lg">Become a customer</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endif %}
<!--Home page style-->
<!--transfers-->
{% if user.is_authenticated %}
    <section id="transfers" class="transfers">
        <form action="{% url 'sign_in:transfers' %}" onsubmit="return validate1()" method="post" id="transfer_form">
            {% csrf_token %}
            <div class="row">
                <div class="creditCardForm">
                    <div class="creditcardform0" id="creditcardform0">
                        <div class="heading">
                            <h1>Please enter your card's data</h1>
                        </div>
                        <div class="payment">
                            <div class="form-group owner">
                                <label for="owner">Owner</label>
                                <input type="text" class="form-control" id="owner_name" name="owner_name">
                            </div>
                            <div class="form-group CVV">
                                <label for="cvv">CVV</label>
                                <input type="text" class="form-control" id="cvv" name="cvv">
                            </div>
                            <div class="form-group" id="card-number-field">
                                <label for="cardNumber">Card Number</label>
                                <input type="text" class="form-control" id="cardNumber" name="cardNumber">
                            </div>

                            <div class="form-group" id="credit_cards">
                                <img src="https://bootstraptema.ru/snippets/form/2017/visa.jpg" id="visa">
                                <img src="https://bootstraptema.ru/snippets/form/2017/mastercard.jpg" id="mastercard">
                                <img src="https://bootstraptema.ru/snippets/form/2017/amex.jpg" id="amex">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="db" id="db">
            </div>
            <div class="row">
                <div class="creditCardForm">
                    <div class="creditcardform1" id="creditcardform1">
                        <div class="heading">
                            <h1>Please enter your card's data to transfer</h1>
                        </div>
                        <div class="payment">
                            <div class="form-group owner">
                                <label for="owner">Owner</label>
                                <input type="text" class="form-control" name="owner" id="owner">
                            </div>
                            <div class="form-group CVV">
                                <label for="cvv">Amount of money</label>
                                <input type="text" class="form-control" name="amount_of_money" id="amount_of_money">
                            </div>
                            <div class="form-group" id="card-number-field">
                                <label for="cardNumber">Card Number</label>
                                <input type="text" class="form-control" name="card_number_to_trans"
                                       id="card_number_to_trans">
                            </div>
                            <div class="form-group" id="pay-now">
                                <button type="submit" class="btn btn-default" onsubmit="return validate1()"
                                        action={% url 'sign_in:transfers' %} type="submit">
                                    Confirm
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>

    <!--transfers-->




    <!--payments-->
    <section id="payments" class="payment_trans">
        <form action="{% url 'sign_in:payments' %}" method="post">
            {% csrf_token %}
            <div class="col-lg-4">
                <div class="mob">
                    <div>
                        <h3 class="text-center">Mobile</h3>

                    </div>
                    <div class="panel-body">
                    </div>
                    <fieldset>
                        <div class="form-group has-error">
                            <input class="form-control input-lg" placeholder="+7(XXX)XXX-XX-XX" name="email"
                                   type="text">
                        </div>

                        <div class="form-group">
                            <select class="form-control input-lg">
                                <option value="01">Choose</option>
                                <option value="01">Activ</option>
                                <option value="02">Kcell</option>
                                <option value="03">Altel</option>
                                <option value="04">Tele-2</option>
                                <option value="05">Beeline</option>
                            </select>

                        </div>
                        <div class="form-group" id="card-number-field">
                            <label>Card Number:</label>
                            <input type="text" placeholder="Card number" class="form-control input-lg"
                                   id="card" name="cardNumber" value="{{ card.number }}">
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="Amount" name="amount_of_money"
                                   id="amount_of_money"
                                   type="text">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="terms" type="checkbox">I CHECK THE ENTERED PHONE <a href="#">
                                |HOME|</a>

                            </label>
                        </div>
                        <button class="btn-primary btn-block btn-lg " value="PAY" type="submit"
                                action="{% url 'sign_in:payments' %}">
                            PAY
                        </button>
                    </fieldset>
                </div>

            </div>
        </form>
        <form action="{% url 'sign_in:payments' %}" method="post">
            {% csrf_token %}

            <div class="col-lg-4">
                <div class="bet">
                    <div class="">
                        <h3 class="text-center">BetGames</h3>

                    </div>
                    <div class="panel-body">
                    </div>
                    <fieldset>
                        <div class="form-group has-error">
                            <input class="form-control input-lg" placeholder="ID:" name="email"
                                   type="text">
                        </div>

                        <div class="form-group">
                            <select class="form-control input-lg">
                                <option value="01">Choose</option>
                                <option value="01">Pari Match</option>
                                <option value="02">Olimp</option>
                                <option value="03">1XBET</option>
                                <option value="04">Tennisi.kz</option>
                                <option value="05">Gol+Pass</option>
                                <option value="06">Profit</option>
                            </select>

                        </div>

                        <div class="form-group" id="card-number-field">
                            <label>Card Number:</label>
                            <input type="text" placeholder="Card number" class="form-control input-lg"
                                   id="card" name="cardNumber" value="{{ card.number }}">
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="Amount"
                                   name="amount_of_money"
                                   id="amount_of_money"
                                   type="text">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="terms" type="checkbox">I CHECK THE ENTERED PHONE <a
                                    href="#">
                                |HOME|</a>

                            </label>
                        </div>
                        <button class="btn-primary btn-block btn-lg " value="PAY" type="submit"
                                action="{% url 'sign_in:payments' %}">
                            PAY
                        </button>
                    </fieldset>
                </div>
            </div>

        </form>
        <form action="{% url 'sign_in:payments' %}" method="post">
            {% csrf_token %}

            <div class="col-lg-4 ">
                <div class="onai">


                    <h3 class="text-center">Onay </h3>

                    <div class="panel-body">
                    </div>
                    <fieldset>
                        <div class="form-group has-error">
                            <input class="form-control input-lg" placeholder="Number:" name="email"
                                   type="text">
                        </div>

                        <div class="form-group">
                            <select class="form-control input-lg">
                                <option value="00">Choose</option>
                                <option value="00">Student</option>
                                <option value="01">Adult</option>
                                <option value="02">Retirement</option>

                            </select>

                        </div>
                        <div class="form-group" id="card-number-field">
                            <label>Card Number:</label>
                            <input type="text" placeholder="Card number" class="form-control input-lg"
                                   id="card" name="cardNumber" value="{{ card.number }}">
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="Amount"
                                   name="amount_of_money"
                                   id="amount_of_money"
                                   type="text">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="terms" type="checkbox">I CHECK THE ENTERED NUMBER <a
                                    href="#">
                                |HOME|</a>
                            </label>
                        </div>
                        <button class="btn-primary btn-block btn-lg " value="PAY" type="submit"
                                action="{% url 'sign_in:payments' %}">
                            PAY
                        </button>
                    </fieldset>
                </div>
            </div>
        </form>
    </section>
    <!--payments-->


    <section id="recievecard" class="recievecard">
        <div class="center">
            <div class="container">
                <div class="col-xs-4 col-sm-4col-md-9 col-lg-9 col-xl-12 col-md-1">
                    <div class="form-area">
                        <form action="https://getcreditcardonline.com/custom-credit-card/" method="post"
                              name="encriptog"
                              id="encriptog">
                            <br style="clear:both">
                            <h3 style="margin-bottom:5px; text-align: center;">Choose Credit Card Designs</h3>
                            <div class="form-group">
                                <label for="username" class="control-label">YOUR NAME:</label>
                                <input class="form-control" id="nombreth" maxlength="25" name="nombreth"
                                       value={{ user.get_full_name }} type="text">
                                <div pseudo="placeholder"></div>
                                <div contenteditable="plaintext-only"></div>
                                </input>
                                <label class="control-label" for="username">TYPE</label>
                                <ul class="hz">
                                    <li>
                                        <input checked name="tpy" type="radio" value="Credit">
                                        </input>
                                        " Credit"
                                    </li>
                                    <li>…</li>
                                </ul>
                                <div class="containerlist">
                                    <div class="boxlist col1list">
                                        <ul>
                                            <label for="username" class="control-label">VISA</label>
                                            <li>
                                                <input type="radio" value="VElectron" name="issuing">
                                                </input>
                                                " Electron"
                                            </li>
                                            <li>
                                                <input type="radio" value="VInfinite" name="issuing">
                                                </input>
                                                " Infinite"
                                            </li>
                                            <li>
                                                <input type="radio" value="VGold" name="issuing" checked>
                                                </input>
                                                " Gold"
                                            </li>
                                            <li>
                                                <input type="radio" value="VPlatinum" name="issuing">
                                                </input>
                                                " Platinum"
                                            </li>
                                            <li>
                                                <input type="radio" value="VSignature" name="issuing">
                                                </input>
                                                " Signature"
                                            </li>
                                            <li>
                                                <input type="radio" value="VTraditional" name="issuing">
                                                </input>
                                                " Traditional"
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="boxlist col2list">
                                        <ul>
                                            <label for="username" class="control-label">MASTERCARD</label>
                                            <li>
                                                <input type="radio" value="MTitanium" name="issuing">
                                                </input>
                                                " Titanium"
                                            </li>
                                            <li>
                                                <input type="radio" value="MBlack" name="issuing">
                                                </input>
                                                " Black"
                                            </li>
                                            <li>
                                                <input type="radio" value="MWorld" name="issuing">
                                                </input>
                                                " World"
                                            </li>
                                            <li>
                                                <input type="radio" value="MGold" name="issuing">
                                                </input>
                                                " Gold"
                                            </li>
                                            <li>
                                                <input type="radio" value="MCirrus" name="issuing">
                                                </input>
                                                " Cirrus"
                                            </li>
                                            <li>
                                                <input type="radio" value="MPlatinum" name="issuing">
                                                </input>
                                                " Platinum"
                                            </li>
                                            <li>
                                                <input type="radio" value="MStandard" name="issuing">
                                                </input>
                                                " Standard"
                                            </li>
                                            <li>
                                                <input type="radio" value="MPrepaid" name="issuing">
                                                </input>
                                                " Prepaid"
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <label for="username" class="control-label">CHIP</label>
                                <ul class="hz">
                                    <li>
                                        <input type="radio" value="Yes" name="chip" checked>
                                        </input>
                                        " Yes"
                                    </li>
                                    <li>
                                        <input type="radio" value="No" name="chip">
                                        </input>
                                        " No"
                                    </li>
                                </ul>
                                <label for="username" class="control-label">Contactless</label>
                                <ul class="hz">
                                    <li>
                                        <input type="radio" value="Yes" name="contactl" checked>
                                        </input>
                                        " Yes"
                                    </li>
                                    <li>
                                        <input type="radio" value="No" name="contactl">
                                        </input>
                                        " No"
                                    </li>
                                </ul>
                            </div>
                            <button type="submit" id="submit" name="Enviar" class="btn btn-primary pull-right">GENERATE
                            </button>
                        </form>
                        <a name="resp2"></a>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endif %}
<!--Footer-->
<section id="contact" class="footer1">
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h4> Hazgar's project group </h4>
                </div>
                <div class="col-lg-3 col-sm-2 col-xs-3">
                    <h3> Contact </h3>
                    <ul>
                        <li><a class="email"
                               href="mailto:hazgar.project.group@gmail.com?subject=Welcome to the online banking of the Hazgar’S Project Group. How can we help you?">
                            hazgar.project.group@gmail.com</a></li>
                        <br/>
                        <li><p>Almaty, Manasa 34a, +7-777-777-77-77</p></li>
                        <li><p>
                            <a href="/sign_in/sign_up" class="txt2 hov1">
                                Sign up!
                            </a></p></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <p class="pull-left copyright"> HAZGAR'S PROJECT GROUP © HPG.kz 2019. All right reserved.
        </p>
    </div>
</section>


<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');
</script>

<script>
    {# сама валидация работает#}
    $('#transfer_form').on('submit', function (event) {
        event.preventDefault();
        return validate1()
    });

    function validate1() {
        var owner_name = document.getElementById("owner_name");
        var cvv = document.getElementById("cvv");
        var cardNumber = document.getElementById("cardNumber");
        var owner = document.getElementById("owner");
        var amount_of_money = document.getElementById("amount_of_money");
        var card_number_to_trans = document.getElementById("card_number_to_trans");
        console.log("Работает");
//чтобы не переходило по форме
//e.preventDefault();
        if (!owner_name.value && !cvv.value && !cardNumber.value && !owner.value && !amount_of_money.value && !card_number_to_trans.value) {
            owner_name.style.border = "2px solid red";
            cvv.style.border = "2px solid red";
            cardNumber.style.border = "2px solid red";
            owner.style.border = "2px solid red";
            amount_of_money.style.border = "2px solid red";
            card_number_to_trans.style.border = "2px solid red";
            return false;
        }
        if (!owner_name.value) {
            owner_name.style.border = "2px solid red";
            return false;
        }
        if (!cvv.value) {
            cvv.style.border = "2px solid red";
            return false;
        }
        if (!cardNumber.value) {
            cardNumber.style.border = "2px solid red";
            return false;
        }
        if (!owner.value) {
            owner.style.border = "2px solid red";
            return false;
        }
        if (!amount_of_money.value) {
            amount_of_money.style.border = "2px solid red";
            return false;
        }
        if (!card_number_to_trans.value) {
            card_number_to_trans.style.border = "2px solid red";
            return false;
        }
        document.getElementById('transfer_form').submit();
    }
</script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rating/1.5.0/bootstrap-rating.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.min.js"></script>


<script src="{% static "assets/js/vendor/jquery-1.11.2.min.js" %}"></script>
<script src="{% static "assets/js/vendor/bootstrap.min.js" %}"></script>
<script src="{% static "assets/js/gmaps.min.js" %}"></script>
<script src="{% static "assets/js/jquery.magnific-popup.js" %}"></script>
<script src="{% static "assets/js/plugins.js" %}"></script>
<script src="{% static "assets/js/main.js" %}"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.m.."></script>
<script src="https://bootstraptema.ru/snippets/form/2017/jquery.payform.mi.."></script>
<script src="https://bootstraptema.ru/snippets/form/2017/script.js"></script>


<script src="{% static "vendor/jquery/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "vendor/animsition/js/animsition.min.js" %}"></script>
<script src="{% static "vendor/bootstrap/js/popper.js" %}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "vendor/select2/select2.min.js" %}"></script>
<script src="{% static "vendor/daterangepicker/moment.min.js" %}"></script>
<script src="{% static "vendor/daterangepicker/daterangepicker.js" %}"></script>
<script src="{% static "vendor/countdowntime/countdowntime.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
</body>
</html>
