<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class='preloader'>
    <div class='loaded'>&nbsp;</div>
</div>
<nav class="navbar navbar-default navbar-fixed-top ">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#transfers">TRANSFERS</a></li>
                <li><a href="#payments">PAYMENTS</a></li>
                <li><a href="#contact">Contact</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right" class="nav-link dropdown-toggle" href="#" id="navbarDropdown">

                <li class="dropdown on hover">
                    {% if login_user%}
                    <a href="/sign_in/" class="dropdown-toggle" data-toggle="dropdown">log out<span
                            class="caret"></span></a>
                    {% else %}
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">login<span
                            class="caret"></span></a>
                    {% endif %}
                    <!-- <li><a href="/sign_in/">SIGN IN</a></li> -->
                    <ul class="dropdown-menu" class="hidden">

                        <div class="limiter">
                            <div class="container-login100">
                                <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
                                    <form class="login100-form validate-form" action="{% url 'home:login_user' %}"
                                          method="post">
                                        {% csrf_token %}
                                        <span class="login100-form-title p-b-33">
		                            				Account Login
		                            			</span>

                                        <div class="wrap-input100 validate-input"
                                             data-validate="Valid Login is required">
                                            <input class="input100" type="text" name="login" placeholder="Login">
                                            <span class="focus-input100-1"></span>
                                            <span class="focus-input100-2"></span>
                                        </div>

                                        <div class="wrap-input100 rs1 validate-input"
                                             data-validate="Password is required">
                                            <input class="input100" type="password" name="pass" placeholder="Password">
                                            <span class="focus-input100-1"></span>
                                            <span class="focus-input100-2"></span>
                                        </div>

                                        <div class="container-login100-form-btn m-t-20">
                                            <button class="login100-form-btn" href="{% url 'home:login_user' %}">
                                                Sign in
                                            </button>
                                        </div>

                                        <div class="text-center p-t-45 p-b-4">
		                            				<span class="txt1">
		                            					Forgot
		                            				</span>

                                            <a href="/sign_in/forgot_pass/" class="txt2 hov1">
                                                Password?
                                            </a>
                                        </div>

                                        <div class="text-center">
		                            				<span class="txt1">
		                            					Create an account?
		                            				</span>

                                            <a href="/sign_in/sign_up" class="txt2 hov1">
                                                Sign up
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

</body>
</html>